@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root{
    --Primary-orange: hsl(35, 77%, 62%);
    --Primary-red: hsl(5, 85%, 63%);

    --Neutralwhite: hsl(36, 100%, 99%);
    --Neutral-Grayish-blue: hsl(233, 8%, 79%);
    --Neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --Neutral-Very-dark-blue: hsl(240, 100%, 5%);

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: inherit;
}
/* For PC and Laptops */
@media only screen and (min-width:768px) {
    body{
        margin: 10vh 6vw;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    header img{
        width: 80px;
    }
    header ul{
        display: flex;
        list-style: none;
    }
    header div{
        display: flex;
        align-items: center;
    }
    header ul li{
        vertical-align: middle;
        margin-right: 3vw;
        color: var(--Neutral-Dark-grayish-blue);
        font-size: 1.2rem;
        align-items: center;
    }
    header ul :nth-child(5){
        margin-right: 0px;
    }
    header ul li{
        cursor: pointer;
    }
    header ul li:active{
        color: var(--Primary-red);
    }

    /* Main Section Styling */

    main{
        margin-top: 6vh;
        width: 100%;
        height:auto;
        display: grid;
        grid-template-areas:
        'img img blackbox'
        'heading paragraph blackbox'
        'box1 box2 box3';
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 2fr 1fr 1fr; */
    }
    /*Grid area allocation  */
    .img-div{
        width:inherit;
        grid-area: img;
    }
    .main-left-heading-div{
        grid-area: heading;
    }
    .main-left-paragraph-div{
        grid-area: paragraph;
    }
    .main-black-box{
        grid-area: blackbox;
    }
    .box1{
        grid-area: box1;
    }
    .box2{
        grid-area: box2;
    }
    .box3{
        grid-area: box3;
    }

    /*Main Content Styling */

    /* Image styling */
    .first-img{
        width:97%;
        height: fit-content;
    }
    /* Heading Style */
    .main-left-heading-div h1{
        margin-top: 2.5vh;
        font-weight: var(--fw-extra-bold);
        font-size: clamp(2rem,3.5rem,4rem);
        width: 80%;
    }
    /* Paragraph Styling */
    .main-left-paragraph-div p{
        margin-top: 3vh;
        font-weight: var(--fw-regular);
        font-size: 1.1rem;
        color: var(--Neutral-Dark-grayish-blue);
        line-height: 1.8rem;
        width:90%;
    }
    .main-left-paragraph-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-left-paragraph-div button{
        cursor: pointer;
        width: 45%;
        background-color: var(--Primary-red);
        border: none;
        color: white;
        font-weight: var(--fw-bold);
        letter-spacing: 2px;
        padding: 14px 0px;
        font-size: 1.1rem;
        transition: background-color 0.15s;
    }
    .main-left-paragraph-div button:active{
        background-color: var(--Neutral-Very-dark-blue);
    }
    .main-black-box{
        background-color: var(--Neutral-Very-dark-blue);
        color: white;
        padding: 15px 20px;
    }
    .main-black-box h1{
        font-weight: var(--fw-extra-bold);
        font-size:3.5rem;
        color: var(--Primary-orange);
    }
    .main-black-box h3{
        color: var(--Neutralwhite);
        font-weight: var(--fw-bold);
        font-size: 1.5rem;
        margin-top: 30px;
        cursor: pointer;
    }
    .main-black-box h3:active{
        color: var(--Primary-orange);
    }
    .main-black-box p{
        color: var(--Neutral-Grayish-blue);
        font-weight: var(--fw-regular);
        font-size: 1rem;
        margin-top: 30px;
        line-height: 30px;
    }
    .custom-line-break {
        border-top: 1px solid var(--Neutral-Dark-grayish-blue);
        margin: 30px 0;
    }
    .box{
        margin-top: 7vh;
        height: 140px;
        width: 90%;
        display: flex;
    }
    .box img{
        width:100px;
        margin-right: 1vw;
    }
    .box h1{
        font-weight: var(--fw-extra-bold);
        color: var(--Neutral-Grayish-blue);
        font-size: 2.5rem;
    }
    .box h3{
        font-weight: var(--fw-bold);
        font-size: 1.3rem;
        cursor: pointer;
    }
    .box h3:active{
        color: var(--Primary-red);
    }
    .box p{
        font-weight: var(--fw-regular);
        color:var(--Neutral-Dark-grayish-blue);
    }
    .box div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    @media only screen and (max-width:1250px) {
        
    }
}